

html, body {
  margin: 0;
  padding: 0;
  cursor: url('img/red-mouse.png'), auto;
  background-color: blue;
  
}

canvas {
  display: block;
}

div {
  display: block;
  unicode-bidi: isolate;
}

h1 {
  font-size: 7.5em;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  padding-right: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-left: 1%;
}

.landingsketchtext{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: blue;
  text-align: center;

}

.landingsketch{
  background-color: blue;
  align-items: center;
}

.workbook-navigation {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  /*bottom: 20px;*/
  /*right: 10px;*/
  display: flex;
  align-items: center;
}
/*styling for the workbook link boxes*/
.box {
 background-color: white; /*background color of box*/
 padding: 1% 5%; /*padding inside the box*/
 margin-left: 2%; /*spacing between boxes*/
 width: 24vw; /*width of the box*/
 opacity: 100;
 border-radius: 15px; /*rounded corners of the box*/
 max-width: 100%;
 text-align: center;
 font-size: 2em;
}

.box a{
  color: blue; /*text color of the box*/
  text-decoration: none; /*removes underline from text*/
}
.box:hover{
  background-color: blue; /*text color of the box*/
  color: white;
  text-decoration: none; /*removes underline from text*/
  border: 2px solid white;
  
 }

 .box a:hover{
  color: white; /*text color of the box*/
  text-decoration: none; /*removes underline from text*/
 }

.acknowledgement {
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  width: 65vw;
 position: fixed;
 bottom: 1%;
 left: 1%;
 display: flex;
}

.acknowledgement a{
  color: white;
  text-decoration: underline;
}
